/* -----------CSS reset------------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: "Roboto", "Ubuntu", "Segeo UI", Helvetica, sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
    font-family: se;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #000;
  color: #fff;
}

.header-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  padding: 1.4rem 1.8rem;
  position: absolute;
  width: 100%;
  z-index: 5;
  /* margin-bottom: 2rem; */
}

@media screen and (min-width: 780px) {
  .header-container {
    padding: 1.4rem 3.1rem;
  }
}

.header-container a.logo {
  display: block;
}

.header-container .logo svg {
  fill: #e50914;
  height: 27px;
}

@media screen and (min-width: 780px) {
  .header-container .logo svg {
    height: 37px;
  }
}

.header-container div + div {
  text-align: right;
}
.header-container a.button {
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 7px 17px;
  border-radius: 3px;
}
.header-container select {
  background-color: transparent;
  color: #fff;
  padding: 6px 0 6px 20px;
  border-radius: 3px;
}

.header-container div.select {
  display: inline-block;
  margin-right: 10px;
}

@media screen and (min-width: 780px) {
  .header-container a.button {
    padding: 7px 17px;
  }

  .header-container div.select {
    margin-right: 20px;
    font-size: 0.875rem;
  }
}

.header-container div.select i {
  height: 20px;
  fill: #fff;
  position: absolute;
  margin-top: 10px;
  margin-left: 4px;
}

div.bg-hero {
  position: relative;
  border-bottom: 8px solid #222;
}

div.bg-hero div.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
  position: absolute;
  inset: 0;
}

div.bg-hero div.bg {
  /* max-width: 100%; */
  position: absolute;
  z-index: 1;
  inset: 0;
}

div.bg-hero div.bg img {
  /* max-width: 100vw; */
  height: 100%;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  /* opacity: 0.6; */
}

div.bg-hero div.content {
  max-width: 655px;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-inline: 20px;
  margin: 0 auto;
  /* position: absolute; */
  /* inset: 0; */
  /* left: 50%; */
  /* margin-left: -327.5px; */
  display: grid;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 780px) {
  div.bg-hero div.content {
    padding-top: 225px;
    padding-bottom: 185px;
  }
}

div.bg-hero h1,
div.bg-hero h2,
div.bg-hero h3 {
  font-weight: normal;
}

div.bg-hero h1 {
  font-size: 1.75rem;
  font-weight: normal;
  margin-top: 2rem;
  /* max-width: 300px; */
}
div.bg-hero h2 {
  font-size: 1.125rem;
  margin-top: 13px;
  margin-bottom: 29px;
}
div.bg-hero h3 {
  font-size: 1.125rem;
}

@media screen and (min-width: 780px) {
  div.bg-hero h1 {
    font-size: 3.125rem;
    font-weight: bold;
  }
  div.bg-hero h2 {
    font-size: 1.625rem;
    margin-top: 13px;
    margin-bottom: 29px;
  }
  div.bg-hero h3 {
    font-size: 1.2rem;
  }
}

div.cta form {
  position: relative;
  display: grid;
  margin: 20px 20px 0;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

@media screen and (min-width: 780px) {
  div.cta form {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}

div.cta input {
  padding: 11.8px 10px;
  font-size: 1.2rem;
  width: 100%;
}
div.cta button {
  font-size: 1.1rem;
  padding: 12px 18px;
  border-radius: 2px;
  background-color: #e50914;
  color: #fff;
  border: 0;
  cursor: pointer;
}

@media screen and (min-width: 780px) {
  div.cta button {
    font-size: 1.625rem;
    padding: 12px 26px;
    border-radius: 0;
  }
}

div.bg-hero button:hover {
  background-color: #d70812;
}

/* ----------------Section-------------- */
section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 46px;
  padding: 70px 35px;
  align-items: center;
  text-align: center;
  border-bottom: 8px solid #222;
}

@media screen and (min-width: 780px) {
  section {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

section.last {
  border-bottom: 8px solid #222;
}

section div.texts h1 {
  font-size: 1.625rem;
  margin-bottom: 8px;
}

@media screen and (min-width: 780px) {
  section div.texts h1 {
    font-size: 3.125rem;
  }
}

section div.texts p {
  font-size: 1.125rem;
}

@media screen and (min-width: 780px) {
  section div.texts p {
    font-size: 1.625rem;
  }
}

.media {
  position: relative;
}

.media.s1 img {
  width: 400px;
}

.media.s1 video {
  width: 75%;
  position: absolute;
  top: 55px;
  left: 45px;
  margin-left: 1%;
  margin-top: 1%;
  z-index: -1;
}

@media screen and (min-width: 900px) {
  .media.s1 video {
    width: 345px;
  }
}

@media screen and (min-device-width: 500px) and (max-device-width: 779px) {
  .media.s1 video {
    width: 345px;
  }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .media.s1 video {
    width: 80%;
  }
}

@media screen and (min-width: 780px) {
  section:nth-child(even) div.texts {
    order: 2;
  }
}

section div.download {
  border: 2px solid #666;
  border-radius: 15px;
  padding: 10px;
  height: 95px;
  display: grid;
  text-align: center;
  align-items: center;
  position: absolute;
  /* bottom: 0px; */
  width: 300px;
  background-color: #000;
  top: 65%;
  left: 50%;
  margin-left: -150px;
  gap: 15px;
  grid-template-columns: max-content 1fr max-content;
}

section div.download img {
  height: 75px;
  width: auto;
}

section div.download span {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.3em 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.media.s3 img {
  width: 400px;
  position: relative;
  z-index: 5;
}

.media.s3 video {
  width: 60%;
  position: absolute;
  top: 20px;
  left: 55px;
  margin-top: -1%;
  margin-left: 3%;
}

@media screen and (min-device-width: 500px) and (max-device-width: 779px) {
  .media.s3 video {
    width: 250px;
  }
}

@media screen and (min-width: 900px) {
  .media.s3 video {
    width: 250px;
  }
}

div.faq {
  padding: 70px 30px;
  border-bottom: 8px solid #222;
}

div.faq h1 {
  font-size: 1.625rem;
  text-align: center;
  margin-bottom: 40px;
  /* margin-left: 2.5rem; */
}

@media screen and (min-width: 780px) {
  div.faq h1 {
    font-size: 3.125rem;
  }
}

ul.questions {
  max-width: 700px;
  /* align-items: center; */
  margin-inline: auto;
  padding: 0;
  font-size: 1rem;
}

@media screen and (min-width: 780px) {
  ul.questions {
    font-size: 1.625rem;
  }
}

li.question {
  position: relative;
  background-color: #303030;
  margin-bottom: 10px;
}
li.question svg {
  width: 30px;
  height: 30px;
  right: 30px;
  top: 20px;
  position: absolute;
  fill: #fff;
  transform: rotate(45deg);
  transition: all 0.4s ease;
}
li.question .header {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
li.question div.answer {
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transform: all 0.2s ease;
}

li.question input[type="checkbox"] {
  display: none;
}

li.question input[type="checkbox"]:checked ~ div.answer {
  padding: 30px 30px;
  max-height: 600px;
}

li.question input[type="checkbox"]:checked ~ .header svg {
  transform: rotate(180deg);
}

div.faq h3 {
  text-align: center;
  font-weight: 400;
  max-width: 450px;
  margin: 0 auto;
  font-size: 18px;
}

@media screen and (min-width: 780px) {
  div.faq h3 {
    font-size: 1.5rem;
  }
}

div.faq form {
  max-width: 635px;
  margin: 0 auto;
  margin-top: 1rem;
}

div.faq div + div {
  text-align: center;
}

/* --------Footer---------- */
.footer {
  max-width: 1000px;
  margin: 3rem auto;
  overflow: hidden;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5em;
}
@media screen and (min-width: 780px) {
  .footer p {
    margin-left: 3.8rem;
  }
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1rem;
  gap: 50px;
  /* border: 2px solid white; */
  text-align: center;
}

@media screen and (min-width: 780px) {
  .footer .footer-cols {
    text-align: inherit;
  }
}

.footer .footer-cols > ul {
  display: grid;
  row-gap: 20px;
}

.foooter li {
  line-height: 1.9;
}
