/* -----------CSS reset------------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Roboto", "Ubuntu", "Segeo UI", Helvetica, sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
    font-family: se;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #000;
  color: #fff;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  justify-items: end;
  width: 100%;
  padding: 1.5rem 3rem;
  height: 4rem;
  position: absolute;
  z-index: 1;
}
.logo {
  justify-self: start;
  align-self: center;
  height: 2.8125rem;
  width: 10.4375rem;
  fill: red;
  line-height: normal;
}
.btns {
  justify-self: end;
  align-self: center;
  color: #fff;
}

.btns .lang {
  background: transparent;
  padding: 0.5rem 0.1rem 0.5rem 1.2rem;
  position: relative;
  color: #fff;
}

.btns i {
  position: absolute;
  top: 2.4rem;
  right: 14.8rem;
}

.btns a {
  text-decoration: none;
  border: 1px solid red;
  padding: 0.5rem 1.3rem;
  background-color: #e50914;
  color: #fff;
  border-radius: 3px;
  margin-left: 1rem;
  cursor: pointer;
}

.bg-hero .bg-hero__img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* opacity: 1; */
}

.bg-hero {
  position: relative;
}

.bg-hero .bg-hero__gradient {
  background: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, 0.7)),
    radial-gradient(50% 100%, transparent 0, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  inset: 0;
}

.hero-section {
  position: absolute;
  inset: 0;
  display: grid;
  align-items: center;
  text-align: center;
  left: 50%;
  max-width: 655px;
  margin-left: -327.5px;
}

.hero-section h1,
.hero-section h2,
.hero-section p {
  font-weight: normal;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
}

.hero-section h2 {
  font-size: 1.625rem;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.hero-section p {
  font-size: 1.2rem;
}

.hero-section form {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-top: 1rem;
}

form input {
  padding: 0.8rem;
  font-size: 1.2rem;
}

form button {
  font-size: 1.625rem;
  padding: 0 2rem;
  width: auto;
  background-color: #e50914;
  background-image: linear-gradient(180deg, #e50914, #db0510);
  box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
  color: #fff;
  outline: none;
  border: 0;
  border-left: 1px solid #333;
  cursor: pointer;
}

form button:hover {
  background: #f40612;
  box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}

/* ----------------------------
-------Main--------------
------------------------- */

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 780px) {
  html {
    font-size: 55%;
  }
}
